
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/*Transition*/

a, .btn {
    transition:  300ms ease;
}


/*Desktop-Nav*/

nav, .nav-links {
    display: flex;
    gap: 45rem;
}


nav {
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

.nav-links {
    gap: 1.7rem;
    list-style: none;
    font-size: 1rem;
}
a {
    color:black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 1rem;
}

.logo:hover {
    cursor: default;
}

/*stack menu*/

#stack-nav {
    display: none;
}

.stack-menu {
    position:  relative;
    display: inline-block;
}

.stack-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}


.stack-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.stack-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.stack-icon.open span:nth-child(2) {
    opacity: 0;
}
.stack-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.stack-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }
  
  .section-container {
    display: flex;
  }
  
  /* PROFILE SECTION */
  
  #profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }
  

  .section__text {
    align-self: center;
    text-align: center;
  }
  
  .section__text p {
    font-weight: 600;
  }
  
  .section__text__p2 {
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 3rem;
    text-align: center;
  }
  
  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  
  /* ICONS */
  
  .icon {
    cursor: pointer;
    height: 1.3rem;
    margin-bottom: 1rem;
  }
  
  /* BUTTONS */
  
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 0.5rem;
    width: 8rem;
    border-radius: 8rem;
  }
  

  .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }
  

  .btn-color-2:hover {
    cursor: pointer;
  }
  
  .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
  }
  

  .btn-color-2 {
    background: none;
  }
  
  .btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
  }
  
  .btn-container {
    gap: 1rem;
  }

  .section__text__p1 {
    width: 66ch;
    animation: typing 2s steps(66), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    margin-bottom: 1.2rem;
  }


  .title2 {
    font-size: 2rem;
    text-align: center;
  }

  .waveImg {
    cursor: pointer;
    height: 1.5rem;
    margin-bottom: 1rem;
    overflow: clip;
  }

  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  .section__text__p3 {
    font-size: 0.8rem;
    text-align: center;
    padding-top: 4vh;
  }

  .section__text__p4 {
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    margin-bottom: 1.2rem;
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }

 
  .title3 {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 4vh;
  }

  .techs {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 4vh;
  }

/* PROJECTS SECTION */

#projects {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 0vh;
}

.color-container {
  border-color: rgb(255, 255, 255);
  background: rgb(245, 245, 245);
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 1.5rem;
  padding: 1.5rem;
  backdrop-filter: blur(1.5px);
  max-width: 325px;
  height: auto;
  width: 100%;
  margin-bottom: 0.75rem;

}

.project-img {
  height: 155px;
  background: #EDF2F7;
  margin-top: 0px;
  margin-inline: 0px;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
  overflow: hidden;
}

.project-title {
  margin: 1.33rem;
  color: rgb(61, 60, 60);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 0.1rem;
  display: flex;

}

.codeuse {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  margin: 1rem;
  padding-inline-start: 0.25rem;
  padding-inline-end: 0.25rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  border-radius: 0.125rem;
  font-weight: 700;
  background: rgb(189, 240, 235)
  
  

}

.codeline {
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    vertical-align: middle;
    padding-inline-start: 0.25rem;
    padding-inline-end: 0.25rem;
    flex-direction: row;
    
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* box position */
.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 325px;
  border-radius: 1.5rem;
  padding: 1.5rem;
  

  
  

 }
/* Box position */
 .about-containers {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}


/* picture */
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 120vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
  align-items: center;
}




.contact-icon {
  cursor: default;
  margin: 1rem;
  height: 2rem;
}

.email-icon {
  height: 2.5rem;
}

/* EXPERIENCE BUBBLE */

#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.experience-bubble {
  position: relative;
  max-width: 400px;
  background: white;
  border-radius: 1.5rem;
  padding: 2rem 2rem 2rem 5rem; /* left padding for icon */
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
              0 10px 10px -5px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(2px);
}

.company-icon {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  object-fit: contain;
}

.experience-text {
  text-align: left;
}

.job-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.company-name {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  color: rgb(85, 85, 85);
}

.job-description {
  font-size: 0.95rem;
  color: rgb(85, 85, 85);
  line-height: 1.4;
}
